<!-- {% comment %}
Custom footer to remove feed icon from Minimal Mistakes theme.
{% endcomment %}

<ul class="footer__links">
  {% for link in site.footer.links %}
    <li>
      <a href="{{ link.url }}">
        <i class="{{ link.icon }}" aria-hidden="true"></i> {{ link.label }}
      </a>
    </li>
  {% endfor %}
</ul> -->

<!-- <ul class="footer__logos">
  <li>
    <a href="https://ucsd.edu/">
      <img src="/assets/images/ucsd-logo.png" alt="UCSD" style="height:32px;">
    </a>
  </li>
  <li>
    <a href="https://scripps.ucsd.edu/">
      <img src="/assets/images/scripps-logo.png" alt="Scripps Institute of Oceanography" style="height:32px;">
    </a>
  </li>
  <li>
    <a href="https://berkeley.edu/">
      <img src="/assets/images/berkeley-logo.png" alt="UC Berkeley" style="height:32px;">
    </a>
  </li>
</ul> -->
